<div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
<!--================= main start ================-->
<div id="main">
    <!--=============== header ===============-->	
    <%= render 'shared/header'  %>
    <!--=============== wrapper ===============-->	
    <div id="wrapper">
        <div class="content-holder elem scale-bg2 transition3" >
            <div class="content  mm">
               <div class="filter-holder fixed-filter">
                   <div class="gallery-filters vis-filter">
                       <a href="#" class="gallery-filter gallery-filter-active"  data-filter="*">All</a>		
                       <a href="#" class="gallery-filter " data-filter=".housing">Houses</a>
                       <a href="#" class="gallery-filter" data-filter=".interior">Interior design</a>
                   </div>
               </div>
                <div class="wrapper-inner no-padding full-width-wrap">
                    <section class="no-padding no-border">
                        <div class="gallery-items hid-port-info">
                            <% @portfolios.each.with_index do |portfolio, i|  %>
                                <div class="gallery-item <%= portfolio.p_type || 'housing' %> ">
                                  <div class="grid-item-holder">
                                      <div class="box-item">
                                          <%= link_to project_path(portfolio) do %>
                                            <span class="overlay"></span> 
                                            <img src="<%= portfolio.photo_medium_url.to_s %>" alt="">
                                          <% end  %>
                                      </div>
                                      <div class="grid-item ">
                                          <h3>
                                             <%= link_to portfolio.name, project_path(portfolio)  %>
                                          </h3>
                                          <span><%= portfolio.introduce %></span>
                                      </div>
                                  </div>
                              </div>
                            <% end %>
                        </div>
                        <!-- end gallery items -->					
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- wrapper end -->
</div>
