<!DOCTYPE html>
<html>
  <head>
    <title>SAAN studio</title>
    <%= csrf_meta_tags %>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="Vietnamese,vn" />
    <meta name="p:domain_verify" content="91bf4cf09b2b2e993de2a9eca6044be7"/>
    <% if action_name == 'show' %>
      <%= display_meta_tags %>
    <% else  %>
      <meta name="title" content="SAAN studio" />
      <meta name="description" content="Thiết Kế Kiến Trúc, Nội Thất, Cải Tạo Nâng Cấp, Xây Dựng, Huế, VN" />
      <meta name="keywords" content="saans tudio, saanstudio, Thiết kế nhà ở huế, Những mẫu nhà đẹp ở Huế, Giá thiết kế nhà ở Huế, Xây nhà trọn gói ở Huế, Giá xây dựng nhà ở Huế, Thiết kế nhà đẹp tại Thừa Thiên Huế, Nhà đẹp Huế, Xây nhà ở Huế, Chi phí xây nhà ở Huế, Giá xây dựng phần thô tại Huế, Thiết kế nhà tại Huế, Tìm nhà thầu tại Huế, Thiết kế nội thất ở Huế, Nhà thầu xây dựng ở Huế, Thợ xây dựng ở Huế"/>

      <!-- Facebook -->
      <meta property="og:url" content="https://saanstudio.com">
      <meta property="og:title" content="SAAN studio" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="https://i.imgur.com/13dkuz8.png" />
      <meta property="og:description" content="SAAN studio" />
    <% end  %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/images/saanstudio_zSG_icon.ico" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/gtm' %>
  </head>

  <body>
    <%= render 'layouts/google_analytics' %>
    <%= yield %>
    <%= javascript_include_tag 'plugins' %>
    <%= javascript_include_tag 'core' %>
    <%= javascript_include_tag 'scripts' %>
  </body>
</html>
