<!DOCTYPE html>
<html>
  <head>
    <title>SAAN studio</title>
    <%= csrf_meta_tags %>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="Vietnamese,vn" />
    <% if action_name == 'show' %>
      <%= display_meta_tags %>
    <% else  %>
      <meta name="title" content="SAAN studio" />
      <meta name="description" content="Thiết Kế Kiến Trúc, Nội Thất, Cải Tạo Nâng Cấp, Xây Dựng, Huế, VN" />
      <meta name="keywords" content="Hue architect saanstudio thietkenha thietke thiet ke nha xaydunghue xay dung hue kientrucsu kientruc kien truc su cai tao nang cap" />

      <!-- Facebook -->
      <meta property="og:url" content="https://saanstudio.com">
      <meta property="og:title" content="SAAN studio" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="https://i.imgur.com/13dkuz8.png" />
      <meta property="og:description" content="SAAN studio" />
    <% end  %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="SAANstudio">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/gtm' %>
  </head>

  <body>
    <%= render 'layouts/google_analytics' %>
    <%= yield %>
    <%= javascript_include_tag 'plugins' %>
    <%= javascript_include_tag 'core' %>
    <%= javascript_include_tag 'scripts' %>
  </body>
</html>
